@using Consultech.Web.Models.Skills
@model SkillInputViewModel

@{
    ViewData["Title"] = "Modifier une Compétence";
}

<h1>Modifier une Compétence</h1>
<h4>Compétence</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Level" class="control-label"></label>
                <select asp-for="Level" asp-items="@Model.Levels" class="form-control"></select>
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Retour à la liste</a>
            </div>
        </form>
    </div>
</div>